In [1]:
import sys

In [2]:
sys.version_info

sys.version_info(major=3, minor=7, micro=3, releaselevel='final', serial=0)

In [3]:
if sys.platform == 'darwin' :
    print(" Mac OS")
else :
    print(" Windows ")

 Windows

# 1. 판다스 구조 알아보기

## 1-1 판다스 모듈을 먼저 import 

     pandas 모듈은 관행적은 pd라는 이름을 별칭으로 사용합니다.

In [4]:
import pandas as pd

## 1-2 데이터 가져오기

### 시본은 그래프를 시각화하는 모듈입니다.

In [5]:
import seaborn as sns

### 시본에 있는 데이터를 로딩하면 데이터 프레임 객체로 만들어집니다.

In [6]:
tips = sns.load_dataset("tips")

## 1-3 데이터프레임 내의 정보 확인하기

### 데이터 프레임 데이터의 정보를 확인하기 위해 head 메소드를 실행합니다.

      인자로 정수를 주면 주는 행까지 출력됩니다. 아무것도 없을 경우는 5개의 행의 출력됩니다.

In [7]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
tips.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

### 마지막 부분을 확인하려면 tail 메소드를 이용합니다.

In [9]:
tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

### 데이터 프레임도 배열이므로 차원과 모양에 대한 메타 정보를 가집니다.

In [10]:
tips.ndim

2

In [11]:
tips.shape

(244, 7)

## 1-4 인덱스 정보 알아보기

###  행의 인덱스 정보 확인하기

In [12]:
tips.index

RangeIndex(start=0, stop=244, step=1)

### 열의 인덱스 정보 확인하기

In [13]:
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

### 열에 저장된 값들에 대한 자료형 알아보기

In [14]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [15]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

# 2. 판다스 행과 열 접근 알아보기

In [97]:
import numpy as np

## 2-1 모듈 설치하기 

    주식 정보를 가져오기 위한 모듈 설치 
    pip install -U finance-datareader

In [16]:
import FinanceDataReader as fdr
fdr.__version__

'0.7.2'

## 2-2 데이터 프레임 검색하기

### 한국 증권거래소에 등록된 기업 정보 가져오기

In [17]:
df_krx = fdr.StockListing('KRX')

### 가져온 정보를 알아보기

In [18]:
df_krx.head()

,Symbol,Name,Sector,Industry
0,001250,GS글로벌,상품 종합 도매업,"수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서..."
1,082740,HSD엔진,일반 목적용 기계 제조업,"대형선박용엔진,내연발전엔진"
2,001390,KG케미칼,기초 화학물질 제조업,"콘크리트혼화제, 비료, 친환경농자재, 수처리제"
3,011070,LG이노텍,전자부품 제조업,기타 전자부품 제조업
4,010060,OCI,기초 화학물질 제조업,"타르제품,카본블랙,무수프탈산,농약원제,석탄화학제품,정밀화학제품,플라스틱창호재 제조,판매"

### 각 열에 정보 파악하기 

   판다스의 자료형이 object 일경우는 파이썬 문자열 자료형으로 데이터가 만들어진 것입니다.

In [19]:
df_krx.dtypes

Symbol      object
Name        object
Sector      object
Industry    object
dtype: object

### 기본 열의 이름으로 검색 : 결과는 시리즈

In [20]:
t_s = df_krx['Name']

### 데이터프레임 내의 하나의 열은 시리즈 객체로 구성됩니다.

In [21]:
type(t_s)

pandas.core.series.Series

### 시리즈의 정보도 head 메소드를 통해 일부만 볼 수 있습니다.

In [22]:
t_s.head()

0    GS글로벌
1    HSD엔진
2    KG케미칼
3    LG이노텍
4      OCI
Name: Name, dtype: object

### 팬시 검색을 이용하면 동일한 자료형으로 처리됩니다

In [23]:
t_d = df_krx[['Name']]

In [24]:
type(t_d)

pandas.core.frame.DataFrame

In [25]:
t_d.head()

    Name
0  GS글로벌
1  HSD엔진
2  KG케미칼
3  LG이노텍
4    OCI

### 열에 대한 인덱스 정보를 확인합니다

In [26]:
df_krx.columns

Index(['Symbol', 'Name', 'Sector', 'Industry'], dtype='object')

### 팬시 검색으로 두 개의 열을 가져옵니다.

      팬시 검색도 별도의 사본을 만들지만 갱신할 때 경고창이 나오므로 명확히 copy 메소드를 사용하는 것이 좋습니다.

In [27]:
t_ts = df_krx[['Symbol','Name']].copy()

In [28]:
t_ts.head()

   Symbol   Name
0  001250  GS글로벌
1  082740  HSD엔진
2  001390  KG케미칼
3  011070  LG이노텍
4  010060    OCI

### 팬시검색은 다른 사본을 만듭니다. 

     갱신을 해도 원본에는 변화가 없습니다

In [29]:
t_ts.loc[0,'Symbol'] = 0

In [30]:
t_ts.head()

   Symbol   Name
0       0  GS글로벌
1  082740  HSD엔진
2  001390  KG케미칼
3  011070  LG이노텍
4  010060    OCI

In [31]:
 df_krx.head()

,Symbol,Name,Sector,Industry
0,001250,GS글로벌,상품 종합 도매업,"수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서..."
1,082740,HSD엔진,일반 목적용 기계 제조업,"대형선박용엔진,내연발전엔진"
2,001390,KG케미칼,기초 화학물질 제조업,"콘크리트혼화제, 비료, 친환경농자재, 수처리제"
3,011070,LG이노텍,전자부품 제조업,기타 전자부품 제조업
4,010060,OCI,기초 화학물질 제조업,"타르제품,카본블랙,무수프탈산,농약원제,석탄화학제품,정밀화학제품,플라스틱창호재 제조,판매"

### 팬시 검색은 데이터에 대한 메모리 공유를 하지 않습니다

In [99]:
np.may_share_memory(t_ts, df_krx)

False

## 2-3 행 기준으로 검색하기

### 인덱스 정보인 이름으로 명시적으로 처리할 경우 loc 인덱서 사용

In [81]:
df_krx.loc[0]

Symbol                                                 001250
Name                                                    GS글로벌
Sector                                              상품 종합 도매업
Industry    수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서...
Name: 0, dtype: object

### 하나의 행으로 검색하면 시리즈 객체가 됩니다.

In [82]:
se = df_krx.loc[0]

In [84]:
type(se)

pandas.core.series.Series

### 인덱스 검색일 경우는 동일한 메모리 정보를 유지합니다

In [98]:
np.may_share_memory(se, df_krx)

True

###  숫자 인덱스 대신 열을 이용해서 인덱스 재지정하기

In [33]:
df_krx_ri = df_krx.set_index('Symbol')

In [34]:
df_krx_ri.head()

,Name,Sector,Industry
Symbol,,,
001250,GS글로벌,상품 종합 도매업,"수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서..."
082740,HSD엔진,일반 목적용 기계 제조업,"대형선박용엔진,내연발전엔진"
001390,KG케미칼,기초 화학물질 제조업,"콘크리트혼화제, 비료, 친환경농자재, 수처리제"
011070,LG이노텍,전자부품 제조업,기타 전자부품 제조업
010060,OCI,기초 화학물질 제조업,"타르제품,카본블랙,무수프탈산,농약원제,석탄화학제품,정밀화학제품,플라스틱창호재 제조,판매"

### 명시적 명칭과 암묵적 위치 정보로 처리하기

In [35]:
df_krx_ri.loc['001250']

Name                                                    GS글로벌
Sector                                              상품 종합 도매업
Industry    수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서...
Name: 001250, dtype: object

### 판다스는 행과 열이 배열을 처리해서 암묵적으로 정수 인덱스를 가지고있습니다.

In [36]:
df_krx_ri.iloc[0]

Name                                                    GS글로벌
Sector                                              상품 종합 도매업
Industry    수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서...
Name: 001250, dtype: object

### 슬라이스를 이용해서 명시적 인덱스와 암묵적 인덱스 처리하기

In [37]:
df_krx_ri.loc[:'010060', ['Name']]

         Name
Symbol
001250  GS글로벌
082740  HSD엔진
001390  KG케미칼
011070  LG이노텍
010060    OCI

In [38]:
df_krx_ri.iloc[:5]

,Name,Sector,Industry
Symbol,,,
001250,GS글로벌,상품 종합 도매업,"수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서..."
082740,HSD엔진,일반 목적용 기계 제조업,"대형선박용엔진,내연발전엔진"
001390,KG케미칼,기초 화학물질 제조업,"콘크리트혼화제, 비료, 친환경농자재, 수처리제"
011070,LG이노텍,전자부품 제조업,기타 전자부품 제조업
010060,OCI,기초 화학물질 제조업,"타르제품,카본블랙,무수프탈산,농약원제,석탄화학제품,정밀화학제품,플라스틱창호재 제조,판매"

### 슬라이스와 팬시 인덱스를 같이 사용하기

In [39]:
df_krx_ri.iloc[:5, 0]

Symbol
001250    GS글로벌
082740    HSD엔진
001390    KG케미칼
011070    LG이노텍
010060      OCI
Name: Name, dtype: object

In [40]:
df_krx_ri.iloc[:5, [0]]

         Name
Symbol
001250  GS글로벌
082740  HSD엔진
001390  KG케미칼
011070  LG이노텍
010060    OCI

### 코스피 상장 기업만 가져오기

In [41]:
df_kospi = fdr.StockListing('KOSPI')

In [42]:
df_kospi.head()

,Symbol,Name,Sector,Industry
0,001250,GS글로벌,상품 종합 도매업,"수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서..."
1,082740,HSD엔진,일반 목적용 기계 제조업,"대형선박용엔진,내연발전엔진"
2,001390,KG케미칼,기초 화학물질 제조업,"콘크리트혼화제, 비료, 친환경농자재, 수처리제"
3,011070,LG이노텍,전자부품 제조업,기타 전자부품 제조업
4,010060,OCI,기초 화학물질 제조업,"타르제품,카본블랙,무수프탈산,농약원제,석탄화학제품,정밀화학제품,플라스틱창호재 제조,판매"

In [43]:
df_kospi.shape

(790, 4)

### 코스닥 상장 기업만 가져오기

In [44]:
df_kosdaq = fdr.StockListing('KOSDAQ')

In [45]:
df_kosdaq.head()

   Symbol     Name          Sector             Industry
0  051500  CJ프레시웨이  음·식료품 및 담배 도매업          식자재유통, 단체급식
1  083660  CSA 코스믹      플라스틱제품 제조업    물탱크,상하수도용도류벽,축산탱크
2  130500    GH신소재     기타 섬유제품 제조업    자동차용 부직포, 폴리우레탄 폼
3  083450      GST   특수 목적용 기계 제조업  GasScrubber,Chiller
4  024120   KB오토시스   자동차 신품 부품 제조업               브레이크패드

In [46]:
df_kosdaq.shape

(1335, 4)

# 3. 판다스 모양  바꾸기

## 3-1 엑셀 파일을 읽기

In [48]:
file_path = './data/마법공식 데이터.xlsx'

### 엑셀 내의 sheet 이름별로 파일 가져오기

In [49]:
df_per =pd.read_excel(file_path, sheet_name='PER')

In [50]:
df_per.head()

      회사명    PER
0      3S -11.87
1  AJ네트웍스  25.15
2   AJ렌터카  24.85
3   AK홀딩스  11.49
4  APS홀딩스   0.23

In [51]:
df_roa =pd.read_excel(file_path, sheet_name='ROA')

In [52]:
df_roa.head()

      회사명  ROA(영업이익)(%)
0      3R           NaN
1      3S           NaN
2   3SOFT           NaN
3  3노드디지탈           NaN
4   AD모터스           NaN

### 열의 인덱스 정보 교체하기 

     동일한 개수의 배열을 만들어서 사용하면 열의 이름이 변경됩니다.

In [53]:
df_roa.columns = ['회사명','ROA']

In [54]:
df_roa.head()

      회사명  ROA
0      3R  NaN
1      3S  NaN
2   3SOFT  NaN
3  3노드디지탈  NaN
4   AD모터스  NaN

### 결측값 정수로 변경하기

     파일 내에 값이 없는 경우에 결측값으로 처리해 줍니다. 
     결측값으로 계산하기 어려워서 이를 임의의 값으로 변환합니다.

In [55]:
df_roa = df_roa.fillna(0)

## 3-2 두 개의 파일을 병합하기

### 두 개의 파일의 동일한 정보인 회사명 열을 기준으로 변합합니다.

In [56]:
df_total = pd.merge(df_roa,df_per, on="회사명")

In [57]:
df_total.head()

      회사명    ROA    PER
0      3S   0.00 -11.87
1  AJ네트웍스   3.43  25.15
2   AJ렌터카   3.39  24.85
3   AK홀딩스  11.36  11.49
4   AP시스템  11.92  14.63

### 결측값이 있는 지를 확인하고 결측값이 True 이면 합계를 계산할 수 있습니다.

    결측값이 없어서 전부 0으로 처리됩니다.

In [58]:
df_total.isna().sum()

회사명    0
ROA    0
PER    0
dtype: int64

### csv 파일로 저장히기

In [59]:
df_total.to_csv('./data/total.csv')

### 저장된 csv 파일을 읽기

In [60]:
df_total_csv = pd.read_csv('./data/total.csv')

In [61]:
df_total_csv.head()

   Unnamed: 0     회사명    ROA    PER
0           0      3S   0.00 -11.87
1           1  AJ네트웍스   3.43  25.15
2           2   AJ렌터카   3.39  24.85
3           3   AK홀딩스  11.36  11.49
4           4   AP시스템  11.92  14.63

### 불필요한 열 제거

     특정한 인덱스를 지정하기 않아서 index 정보도 열로 저장된 것을 확인할 수 있습니다.
     이 열을 제거합니다.

In [62]:
df_total_csv= df_total_csv.drop('Unnamed: 0', axis=1)

In [63]:
df_total_csv.head()

      회사명    ROA    PER
0      3S   0.00 -11.87
1  AJ네트웍스   3.43  25.15
2   AJ렌터카   3.39  24.85
3   AK홀딩스  11.36  11.49
4   AP시스템  11.92  14.63

## csv 파일을 읽고 처리하기

In [64]:
path = './data/googleplaystore.csv'

In [65]:
gstore = pd.read_csv(path)

In [66]:
gstore.shape

(10841, 13)

In [67]:
gstore.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [68]:
gstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
App               10841 non-null object
Category          10841 non-null object
Rating            9367 non-null float64
Reviews           10841 non-null object
Size              10841 non-null object
Installs          10841 non-null object
Type              10840 non-null object
Price             10841 non-null object
Content Rating    10840 non-null object
Genres            10841 non-null object
Last Updated      10841 non-null object
Current Ver       10833 non-null object
Android Ver       10838 non-null object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

### 결측값을 0으로 처리

In [69]:
gstore.isna().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [70]:
gstore = gstore.fillna(0)

In [71]:
gstore.isna().sum().sum()

0

## 3-3 피봇 테이블 구성하기

### 특정 열의 값들이 분포를 확인합니다.

In [72]:
gstore.Type.value_counts()

Free    10039
Paid      800
0           1
0           1
Name: Type, dtype: int64

### 피봇테이블은  columns을 지정한 열을 기준으로 값의 열을 행단위로 재배치

In [102]:
gstore_cat = gstore.pivot_table(index='App', columns= 'Type',values=['Rating'])

In [103]:
gstore_cat.columns

MultiIndex(levels=[['Rating'], [0, '0', 'Free', 'Paid']],
           codes=[[0, 0, 0, 0], [0, 1, 2, 3]],
           names=[None, 'Type'])

In [104]:
gstore_cat.head()

                                     Rating
Type                                      0   0 Free Paid
App
"i DT" Fútbol. Todos Somos Técnicos.    NaN NaN  0.0  NaN
+Download 4 Instagram Twitter           NaN NaN  4.5  NaN
- Free Comics - Comic Apps              NaN NaN  3.5  NaN
.R                                      NaN NaN  4.5  NaN
/u/app                                  NaN NaN  4.7  NaN

### 결측값을 초기화 합니다

In [75]:
gstore_cat = gstore_cat.fillna(0)

In [76]:
gstore_cat.head()

                                     Rating
Type                                      0    0 Free Paid
App
"i DT" Fútbol. Todos Somos Técnicos.    0.0  0.0  0.0  0.0
+Download 4 Instagram Twitter           0.0  0.0  4.5  0.0
- Free Comics - Comic Apps              0.0  0.0  3.5  0.0
.R                                      0.0  0.0  4.5  0.0
/u/app                                  0.0  0.0  4.7  0.0

## 3- 4 멜트 처리하기 

     여러 열을 하나의 변수 열로 통합하기

In [77]:
gstore.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

### 특정 열을 변수로 통합하기

In [78]:
gstore_melt = pd.melt(gstore, id_vars=['App'], value_vars=['Type',"Price"])

In [79]:
gstore_melt.head()

                                                 App variable value
0     Photo Editor & Candy Camera & Grid & ScrapBook     Type  Free
1                                Coloring book moana     Type  Free
2  U Launcher Lite – FREE Live Cool Themes, Hide ...     Type  Free
3                              Sketch - Draw & Paint     Type  Free
4              Pixel Draw - Number Art Coloring Book     Type  Free

In [80]:
gstore_melt[10827:10853]

                                                     App variable value
10827                                 Fr Agnel Ambarnath     Type  Free
10828                            Manga-FR - Anime Vostfr     Type  Free
10829                     Bulgarian French Dictionary Fr     Type  Free
10830                                  News Minecraft.fr     Type  Free
10831                           payermonstationnement.fr     Type  Free
10832                                           FR Tides     Type  Free
10833                                        Chemin (fr)     Type  Free
10834                                      FR Calculator     Type  Free
10835                                           FR Forms     Type  Free
10836                                   Sya9a Maroc - FR     Type  Free
10837                   Fr. Mike Schmitz Audio Teachings     Type  Free
10838                             Parkinson Exercices FR     Type  Free
10839                      The SCP Foundation DB fr nn5n     Type  Free
10840      iHoroscope - 2018 Daily Horoscope & Astrology     Type  Free
10841     Photo Editor & Candy Camera & Grid & ScrapBook    Price     0
10842                                Coloring book moana    Price     0
10843  U Launcher Lite – FREE Live Cool Themes, Hide ...    Price     0
10844                              Sketch - Draw & Paint    Price     0
10845              Pixel Draw - Number Art Coloring Book    Price     0
10846                         Paper flowers instructions    Price     0
10847            Smoke Effect Photo Maker - Smoke Editor    Price     0
10848                                   Infinite Painter    Price     0
10849                               Garden Coloring Book    Price     0
10850                      Kids Paint Free - Drawing Fun    Price     0
10851                            Text on Photo - Fonteee    Price     0
10852            Name Art Photo Editor - Focus n Filters    Price     0