In [1]:
import sys

In [2]:
sys.version_info

sys.version_info(major=3, minor=7, micro=3, releaselevel='final', serial=0)

In [3]:
if sys.platform == 'darwin' :
    print(" Mac OS")
else :
    print(" Windows ")

 Mac OS

In [4]:
import pandas as pd

# 1. 판다스 구조 알아보기

In [5]:
import seaborn as sns

In [6]:
tips = sns.load_dataset("tips")

In [7]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [9]:
tips.ndim

2

In [10]:
tips.shape

(244, 7)

### 인덱스 정보 확인하기

In [11]:
tips.index

RangeIndex(start=0, stop=244, step=1)

In [12]:
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

### 열에 대한 타입 알아보기

In [13]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [14]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

# 2. 판다스 행과 열 접근 알아보기

## 모듈 설치하기 
    pip install -U finance-datareader

In [15]:
import FinanceDataReader as fdr
fdr.__version__

'0.7.2'

### 2-1 데이터 프레임 검색 : 열 기준으로 처리

In [16]:
df_krx = fdr.StockListing('KRX')

In [17]:
df_krx.head()

,Symbol,Name,Sector,Industry
0,001250,GS글로벌,상품 종합 도매업,"수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서..."
1,082740,HSD엔진,일반 목적용 기계 제조업,"대형선박용엔진,내연발전엔진"
2,001390,KG케미칼,기초 화학물질 제조업,"콘크리트혼화제, 비료, 친환경농자재, 수처리제"
3,011070,LG이노텍,전자부품 제조업,기타 전자부품 제조업
4,010060,OCI,기초 화학물질 제조업,"타르제품,카본블랙,무수프탈산,농약원제,석탄화학제품,정밀화학제품,플라스틱창호재 제조,판매"

### 파이썬 문자열 자료형은 판다스에서는 object로 인식

In [18]:
df_krx.dtypes

Symbol      object
Name        object
Sector      object
Industry    object
dtype: object

### 기본 열의 이름으로 검색 : 결과는 시리즈

In [19]:
t_s = df_krx['Name']

In [20]:
type(t_s)

pandas.core.series.Series

In [21]:
t_s.head()

0    GS글로벌
1    HSD엔진
2    KG케미칼
3    LG이노텍
4      OCI
Name: Name, dtype: object

### 배열로 검색하면 하나의 상의 열을 검색 가능 : 이때는 데이터프레임

In [22]:
t_d = df_krx[['Name']]

In [23]:
type(t_d)

pandas.core.frame.DataFrame

In [24]:
t_d.head()

    Name
0  GS글로벌
1  HSD엔진
2  KG케미칼
3  LG이노텍
4    OCI

In [25]:
df_krx.columns

Index(['Symbol', 'Name', 'Sector', 'Industry'], dtype='object')

In [26]:
t_ts = df_krx[['Symbol','Name']]

In [27]:
t_ts.head()

   Symbol   Name
0  001250  GS글로벌
1  082740  HSD엔진
2  001390  KG케미칼
3  011070  LG이노텍
4  010060    OCI

### 2-2 행 기준으로 검색하기

In [28]:
df_krx.loc[0]

Symbol                                                 001250
Name                                                    GS글로벌
Sector                                              상품 종합 도매업
Industry    수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서...
Name: 0, dtype: object

### 인덱스를 변경하기

In [29]:
df_krx_ri = df_krx.set_index('Symbol')

In [30]:
df_krx_ri.head()

,Name,Sector,Industry
Symbol,,,
001250,GS글로벌,상품 종합 도매업,"수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서..."
082740,HSD엔진,일반 목적용 기계 제조업,"대형선박용엔진,내연발전엔진"
001390,KG케미칼,기초 화학물질 제조업,"콘크리트혼화제, 비료, 친환경농자재, 수처리제"
011070,LG이노텍,전자부품 제조업,기타 전자부품 제조업
010060,OCI,기초 화학물질 제조업,"타르제품,카본블랙,무수프탈산,농약원제,석탄화학제품,정밀화학제품,플라스틱창호재 제조,판매"

### 명시적 명칭과 암묵적 위치 정보로 처리하기

In [31]:
df_krx_ri.loc['001250']

Name                                                    GS글로벌
Sector                                              상품 종합 도매업
Industry    수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서...
Name: 001250, dtype: object

In [32]:
df_krx_ri.iloc[0]

Name                                                    GS글로벌
Sector                                              상품 종합 도매업
Industry    수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서...
Name: 001250, dtype: object

### 슬라이스를 이용해서 처리하기

In [33]:
df_krx_ri.loc[:'010060', ['Name']]

         Name
Symbol
001250  GS글로벌
082740  HSD엔진
001390  KG케미칼
011070  LG이노텍
010060    OCI

In [34]:
df_krx_ri.iloc[:5]

,Name,Sector,Industry
Symbol,,,
001250,GS글로벌,상품 종합 도매업,"수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서..."
082740,HSD엔진,일반 목적용 기계 제조업,"대형선박용엔진,내연발전엔진"
001390,KG케미칼,기초 화학물질 제조업,"콘크리트혼화제, 비료, 친환경농자재, 수처리제"
011070,LG이노텍,전자부품 제조업,기타 전자부품 제조업
010060,OCI,기초 화학물질 제조업,"타르제품,카본블랙,무수프탈산,농약원제,석탄화학제품,정밀화학제품,플라스틱창호재 제조,판매"

In [35]:
df_krx_ri.iloc[:5, 0]

Symbol
001250    GS글로벌
082740    HSD엔진
001390    KG케미칼
011070    LG이노텍
010060      OCI
Name: Name, dtype: object

In [36]:
df_krx_ri.iloc[:5, [0]]

         Name
Symbol
001250  GS글로벌
082740  HSD엔진
001390  KG케미칼
011070  LG이노텍
010060    OCI

In [37]:
df_kospi = fdr.StockListing('KOSPI')

In [38]:
df_kospi.head()

,Symbol,Name,Sector,Industry
0,001250,GS글로벌,상품 종합 도매업,"수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서..."
1,082740,HSD엔진,일반 목적용 기계 제조업,"대형선박용엔진,내연발전엔진"
2,001390,KG케미칼,기초 화학물질 제조업,"콘크리트혼화제, 비료, 친환경농자재, 수처리제"
3,011070,LG이노텍,전자부품 제조업,기타 전자부품 제조업
4,010060,OCI,기초 화학물질 제조업,"타르제품,카본블랙,무수프탈산,농약원제,석탄화학제품,정밀화학제품,플라스틱창호재 제조,판매"

In [39]:
df_kospi.shape

(790, 4)

In [40]:
df_kosdaq = fdr.StockListing('KOSDAQ')

In [41]:
df_kosdaq.head()

   Symbol     Name          Sector             Industry
0  051500  CJ프레시웨이  음·식료품 및 담배 도매업          식자재유통, 단체급식
1  083660  CSA 코스믹      플라스틱제품 제조업    물탱크,상하수도용도류벽,축산탱크
2  130500    GH신소재     기타 섬유제품 제조업    자동차용 부직포, 폴리우레탄 폼
3  083450      GST   특수 목적용 기계 제조업  GasScrubber,Chiller
4  024120   KB오토시스   자동차 신품 부품 제조업               브레이크패드

In [42]:
df_kosdaq.shape

(1335, 4)

# 3. 판다스 모양  바꾸기

## 엑셀 파일을 읽기

In [43]:
import pandas as pd

In [44]:
file_path = './data/마법공식 데이터.xlsx'

In [45]:
df_per =pd.read_excel(file_path, sheet_name='PER')

In [46]:
df_per.head()

      회사명    PER
0      3S -11.87
1  AJ네트웍스  25.15
2   AJ렌터카  24.85
3   AK홀딩스  11.49
4  APS홀딩스   0.23

In [47]:
df_roa =pd.read_excel(file_path, sheet_name='ROA')

In [48]:
df_roa.head()

      회사명  ROA(영업이익)(%)
0      3R           NaN
1      3S           NaN
2   3SOFT           NaN
3  3노드디지탈           NaN
4   AD모터스           NaN

In [49]:
df_roa.columns = ['회사명','ROA']

In [50]:
df_roa.head()

      회사명  ROA
0      3R  NaN
1      3S  NaN
2   3SOFT  NaN
3  3노드디지탈  NaN
4   AD모터스  NaN

In [51]:
df_roa = df_roa.fillna(0)

## 3-1 두 개의 파일을 병합하기

In [52]:
df_total = pd.merge(df_roa,df_per, on="회사명")

In [53]:
df_total.head()

      회사명    ROA    PER
0      3S   0.00 -11.87
1  AJ네트웍스   3.43  25.15
2   AJ렌터카   3.39  24.85
3   AK홀딩스  11.36  11.49
4   AP시스템  11.92  14.63

In [54]:
df_total.isna().sum()

회사명    0
ROA    0
PER    0
dtype: int64

### csv 파일로 저장히기

In [55]:
df_total.to_csv('./data/total.csv')

In [56]:
df_total_csv = pd.read_csv('./data/total.csv')

In [57]:
df_total_csv.head()

   Unnamed: 0     회사명    ROA    PER
0           0      3S   0.00 -11.87
1           1  AJ네트웍스   3.43  25.15
2           2   AJ렌터카   3.39  24.85
3           3   AK홀딩스  11.36  11.49
4           4   AP시스템  11.92  14.63

### 불필요한 열 제거

In [58]:
df_total_csv= df_total_csv.drop('Unnamed: 0', axis=1)

In [59]:
df_total_csv.head()

      회사명    ROA    PER
0      3S   0.00 -11.87
1  AJ네트웍스   3.43  25.15
2   AJ렌터카   3.39  24.85
3   AK홀딩스  11.36  11.49
4   AP시스템  11.92  14.63

## csv 파일을 읽고 처리하기

In [60]:
path = './data/googleplaystore.csv'

In [61]:
gstore = pd.read_csv(path)

In [62]:
gstore.shape

(10841, 13)

In [63]:
gstore.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [64]:
gstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
App               10841 non-null object
Category          10841 non-null object
Rating            9367 non-null float64
Reviews           10841 non-null object
Size              10841 non-null object
Installs          10841 non-null object
Type              10840 non-null object
Price             10841 non-null object
Content Rating    10840 non-null object
Genres            10841 non-null object
Last Updated      10841 non-null object
Current Ver       10833 non-null object
Android Ver       10838 non-null object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

### 결측값을 0으로 처리

In [65]:
gstore.isna().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [66]:
gstore = gstore.fillna(0)

In [67]:
gstore.isna().sum().sum()

0

## 3-2 피봇 테이블 구성하기

In [68]:
gstore.Type.value_counts()

Free    10039
Paid      800
0           1
0           1
Name: Type, dtype: int64

In [69]:
gstore_cat = gstore.pivot_table(index='App', columns= 'Type',values=['Rating', 'Price'])

In [70]:
gstore_cat.head()

                                     Rating
Type                                      0   0 Free Paid
App
"i DT" Fútbol. Todos Somos Técnicos.    NaN NaN  0.0  NaN
+Download 4 Instagram Twitter           NaN NaN  4.5  NaN
- Free Comics - Comic Apps              NaN NaN  3.5  NaN
.R                                      NaN NaN  4.5  NaN
/u/app                                  NaN NaN  4.7  NaN

In [71]:
gstore_cat = gstore_cat.fillna(0)

In [72]:
gstore_cat.head()

                                     Rating
Type                                      0    0 Free Paid
App
"i DT" Fútbol. Todos Somos Técnicos.    0.0  0.0  0.0  0.0
+Download 4 Instagram Twitter           0.0  0.0  4.5  0.0
- Free Comics - Comic Apps              0.0  0.0  3.5  0.0
.R                                      0.0  0.0  4.5  0.0
/u/app                                  0.0  0.0  4.7  0.0

## 3- 3 멜트 처리하기

In [73]:
gstore.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

### 특정 열을 변수로 통합하기

In [74]:
gstore_melt = pd.melt(gstore, id_vars=['App'], value_vars=['Type',"Price"])

In [75]:
gstore_melt.head()

                                                 App variable value
0     Photo Editor & Candy Camera & Grid & ScrapBook     Type  Free
1                                Coloring book moana     Type  Free
2  U Launcher Lite – FREE Live Cool Themes, Hide ...     Type  Free
3                              Sketch - Draw & Paint     Type  Free
4              Pixel Draw - Number Art Coloring Book     Type  Free

In [76]:
gstore_melt[10827:10853]

                                                     App variable value
10827                                 Fr Agnel Ambarnath     Type  Free
10828                            Manga-FR - Anime Vostfr     Type  Free
10829                     Bulgarian French Dictionary Fr     Type  Free
10830                                  News Minecraft.fr     Type  Free
10831                           payermonstationnement.fr     Type  Free
10832                                           FR Tides     Type  Free
10833                                        Chemin (fr)     Type  Free
10834                                      FR Calculator     Type  Free
10835                                           FR Forms     Type  Free
10836                                   Sya9a Maroc - FR     Type  Free
10837                   Fr. Mike Schmitz Audio Teachings     Type  Free
10838                             Parkinson Exercices FR     Type  Free
10839                      The SCP Foundation DB fr nn5n     Type  Free
10840      iHoroscope - 2018 Daily Horoscope & Astrology     Type  Free
10841     Photo Editor & Candy Camera & Grid & ScrapBook    Price     0
10842                                Coloring book moana    Price     0
10843  U Launcher Lite – FREE Live Cool Themes, Hide ...    Price     0
10844                              Sketch - Draw & Paint    Price     0
10845              Pixel Draw - Number Art Coloring Book    Price     0
10846                         Paper flowers instructions    Price     0
10847            Smoke Effect Photo Maker - Smoke Editor    Price     0
10848                                   Infinite Painter    Price     0
10849                               Garden Coloring Book    Price     0
10850                      Kids Paint Free - Drawing Fun    Price     0
10851                            Text on Photo - Fonteee    Price     0
10852            Name Art Photo Editor - Focus n Filters    Price     0